body {
    background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
    font-family: 'Rubik', sans-serif;
    background: #455A64;
    height: 100 !important
}


/* Add a black background color to the top navigation */
.topnavmenu {
  background-color: #b38350;
  overflow: hidden;
  border-radius: 5px;
  width: 700px;
  float: left;
}

/* Style the links inside the navigation bar */
.topnavmenu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  font-size: 17px;
  width: 115px;

}

/* Change the color of links on hover */
.topnavmenu a:hover {
  background-color: #a27240;
  color: black;
}

/* Add a color to the active/current link */
.topnavmenu a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav {
  width: 1100px;
}

/* Style the search box inside the navigation bar */
.topnav .search-container {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;

}

.topnav input[type=text] {
  float: left;
  font-size: 20px;
  width: 300px;
  border: none;
  padding: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.topnav .search-container button {
  background: #b38350;
  padding: 5px;
  width: 50px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #a27240;
}


.topnav a.logo {
  text-decoration: none;
}

.topnav img {
  float: left;
  height: auto;
  width: 15%;
  margin-right: 10px;
}

/* bestsellers table */
table{
  width: 879px;
}
table th{
  font-size: xx-large;
  text-decoration: underline;
  padding-top: 10px;
  padding-bottom: 10px;
}
table td{
  border-style: solid;
  background-color: #b38350;
  width: 200px;
  height: 310px;
  display: inline-block;
  padding: 0;
}
table td:nth-child(1){
  margin-right: 8.5px;
}
table td:nth-child(2){
  margin: 0 8.5px 0 8.5px;
}
table td:nth-child(3){
  margin: 0 8.5px 0 8.5px;
}
table td:nth-child(4){
  margin-left: 8.5px;
}
table img{
  width: inherit;
  height: inherit;
}

/* banner  js */
.banner {
  height: 400px;
  width: 879px;
  margin: 30px 0 30px 0;
  position: relative;
  display: flex;
}

.banner-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.carousel-inner > .carousel-item > img {
  height: calc(130px + (600 - 130) * ((100vw - 360px) / (1600 - 360))) !important;
}

/* footer */

.container-fluid {
  overflow: hidden;
  margin-top: 250px;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0
}

/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
small {
  font-size: calc(13px + (16 - 13) * ((100vw - 360px) / (1600 - 360))) !important;
}

H3 {
  font-size: calc(25px + (50 - 25) * ((100vw - 360px) / (1600 - 360))) !important;
}


.social {
  font-size: 70px;
}

