body {
    font-family: 'Rubik', sans-serif;
    background: #455A64 !important;
    height: 100 !important
}
/* navigation bar */
.navbar-right:focus, .navbar-right :hover{
  color: #ddd !important;
}

.navbar-dark .navbar-nav .nav-link{
  font-size: 18px;
}

/* bestsellers */

h2{
  margin: 40px 0 0 22px !important;
  font-family: "Times New Roman", Times;
  color: black;
  text-shadow: 1px 1px #888;
  letter-spacing: 2px;
}
.book-container {
  height: 440px;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.book-item {
  position: relative;
  display: inline-block;
  margin: 8px 8px;
  box-shadow: 2px 2px 4px #bbb;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 300px;
  height: 410px;
  vertical-align: bottom;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* banner  */

.carousel-inner > .carousel-item > img {
  height: calc(130px + (600 - 130) * ((100vw - 360px) / (1600 - 360))) !important;
}

/* footer */

.container-fluid {
  overflow: hidden;
  margin-top: 250px;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0
}

/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
small {
  font-size: calc(13px + (16 - 13) * ((100vw - 360px) / (1600 - 360))) !important;
}

H3 {
  font-size: calc(25px + (50 - 25) * ((100vw - 360px) / (1600 - 360))) !important;
}

.social {
  font-size: 70px;
}

.fa-facebook {
  color: #3B5998;
}

.fa-youtube-play {
  color: #bb0000;
}

.fa-twitter {
  color: #55ACEE;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

